.document_preview {
  background: rgb(128, 136, 143);
}

.preview_container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 20px 100px 50px;
}

.visible_preview {
  transform-origin: top center;
}

.resume_container {
  color: #303030;
  font-family: "Noto Serif";
  width: 1040px;
  height: 1300px;
  box-shadow: rgb(49, 49, 56) 8px 8px 0px;
  background: white;
  section:not(:last-child) {
    border-bottom: 1px dashed rgba(48, 48, 48, 0.5);
  }
}

.resume_content {
  padding: 20px 70px 70px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 50px;
}

.contact {
  justify-self: end;
  text-align: right;
  span {
    font-weight: bold;
    margin-right: 5px;
  }
}

.name {
  margin-left: 15px;
  align-self: center;
  line-height: 1;
  span {
    margin-right: 10px;
  }
  p:first-child {
    font-weight: bold;
    font-size: 25pt;
  }
  p:nth-child(2) {
    color: rgba(0, 0, 0, 0.3);
    font-size: 15pt;
    margin-top: 3px;
    margin-left: 5px;
  }
}

.label_row {
  margin-top: 20px;
}

.section_grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
}

.misc_grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
}

.misc_text {
  margin-top: 20px;
}

.skills_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  > div {
    p:first-child {
      font-weight: bold;
    }
  }
}

.profile {
  padding-bottom: 50px;
}

.profile_text {
  text-align: justify;
}

.experience {
  padding-bottom: 25px;
}

.education {
  padding-bottom: 50px;
}

.section_text {
  ul {
    list-style: circle;
    padding-left: 20px;
    margin-top: 10px;
  }
  li {
    margin-bottom: 5px;
  }
  p:first-child {
    font-size: 15pt;
    font-weight: bold;
  }
}

.label {
  background-color: #303030;
  box-sizing: border-box;
  padding: 4px 10px 5px;
  color: white;
  font-weight: bold;
  width: min-content;
}

.project {
  margin-bottom: 10px;
}

.download {
  outline: 0;
  background: white;
  margin: 40px auto 30px;
  border-radius: 10px;
  margin-left: calc(50% - 125px);
  width: 270px;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: white;
  cursor: pointer;
  border: 6px solid darkgray;
  font-size: 17pt;
  // padding: 18px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #3d3d3d !important;
  }
}

@media print {
  @page {
    margin: 0;
    size: letter portrait;
  }
  .label {
    padding: 0;
  }
  .download {
    display: none;
  }
  .preview_container {
    overflow: visible;
    display: block;
    padding: 0;
  }
  .resume_container {
    box-shadow: none;
  }
}
