.skill {
  position: relative;
  display: flex !important;
  justify-content: center;
}
.caption {
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes slide-in-left {
  from {
    transform: translate(20px, 0px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
