@import "../global.scss";
.icon {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #293347;
  &:hover {
    background: $primary-color;
    color: white;
  }
}
.socialButtons {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}
.chevron {
  position: absolute;
  top: -25px;
  color: white;
  background: #293347;
  font-size: 30pt;
  width: 47px;
  height: 50px;
  line-height: 40pt;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.9);
    i {
      animation: fromUpToDown 0.3s;
    }
  }
}
@keyframes fromUpToDown {
  49% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
