.center {
  text-align: center;
}
.divider {
  margin: auto;
  width: 35%;
  min-width: 250px;
  border-bottom: 1px solid white;
}
.title {
  margin-bottom: 10px !important;
}
.subtitle {
  margin-bottom: 10px !important;
  margin-top: 10px;
  font-style: normal;
  font-size: 25px;
}
