.photo {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  img {
    transition: transform 0.5s;
  }
  &:before {
    content: "";
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(41, 51, 71, 0.8);
  }
  &:after {
    content: "";
    transition: all 0.5s;
    height: 80%;
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 0;
    z-index: 2;
    border: 1px solid white;
    // border-radius: 12px;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .hoverContent,
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
.hoverContent {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  h1,
  p {
    width: 70%;
    margin: auto;
    color: #fff;
  }
  p:last-child {
    font-size: 10pt;
  }
  z-index: 3;
  transition: opacity 0.5s;
  opacity: 0;
}
