.center {
  text-align: center;
}
.service {
  span {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
  }
  h4 {
    margin: 15px 0;
  }
}
